html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td ,textarea,input { margin:0; padding:0;  }
address,cite,dfn,em,var, i {font-style:normal;}
body {font-size: 18px; line-height: 1.5; font-family:'Microsoft Yahei','simsun','arial','tahoma';  color: #222; background: #ffffff; }
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
a { text-decoration: none; color: #666; background: none }
ul, ol { list-style: none; }
:focus{ outline:none;}
.clearfix{ clear: both; content: ""; display: block; overflow: hidden }
.clear{clear: both;}
.fl{ float: left; }
.fr{float: right;}
.middle{vertical-align: middle;}
.tc_l{text-align: left!important;}
.tc_c{text-align: center!important;}
.tc_r{text-align: right!important;}
.ov{overflow: hidden;}
.no_margin{margin: 0!important;}
.none{display: none;}

@init: 1rem/18;

.header{height: 50*@init;box-shadow: 0 2px 4px 0 rgba(205, 205, 205, 0.5); background: #FFFFFF;
position: relative; z-index: 99;}
.header .logo{width: 38*@init; height: 38*@init; margin: 6*@init 0 0 17*@init;}
.header .iconr{float: right; font-size: 20*@init; margin: 11*@init 15*@init 0 0;}

.index1{position: relative; overflow: hidden;}
.index1 img{width: 100%;}
.indexFont{width: 187*@init; padding: 0 18*@init; background: rgba(255, 255, 255, 0.8); box-sizing: border-box;
position: absolute; right: 0; top: 0;}
.indexFont .tit{color: #252c5c; font-size: 9*@init; margin-top: 19*@init;}
.indexFont .tit2{color: #b4201f; font-size: 9*@init; margin-top: 40*@init;}
.indexFont .cont{font-size: 14*@init; color:#252c5c; line-height: 1.14; margin-top: 17*@init}
.indexFont .cont2{font-size: 14*@init; color:#b4201f; line-height: 1.14; margin-top: 17*@init}
.indexFont .more{ text-align: center; margin: 20*@init 0 15*@init 0;}
.indexFont .more a{ font-size: 14*@init;}

.indexNav li{width: 50%; height: 229*@init; float: left; position: relative;}
.indexNav li .ms{width: 100%; height: 62*@init; line-height: 62*@init; background-color: rgba(255, 255, 255, 0.8);
color: #b4201f; position: absolute; font-size: 10px; left: 0; bottom: 0; box-sizing: border-box; padding: 0 15*@init;}
.indexNav li .iconfont{float: right;}
.indexNav li img{width: 100%; vertical-align: middle;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.indexNav li:hover img{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
}
.indexNav li:active img{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
}

.footer .menu{width: 100%; overflow: hidden;}
.footer .menu li{float: left; width: 50*@init; height: 50*@init; text-align: center; line-height: 50*@init; background: #3c3c39;
color: #ffffff; margin: 0 21.8*@init; margin-top: 45*@init;}
.footer .menu li i{font-size: 28*@init;}
.footer .menu li:hover{background: #252c5c;}
.footer .xNav{text-align: center; position: relative; width: 100%; overflow: hidden; font-size: 10*@init;
margin-top: 26*@init;}
.footer .xNav .left{float: left; margin-left: 21.8*@init;}
.footer .center{position: absolute; width: 60%; position: absolute; left: 20%; top: 0;}
.footer .xNav .right{float: right; margin-right: 21.8*@init;}

.footer .dz{text-align: center; font-size: 10*@init; line-height: 1.7; margin-top: 16*@init; margin-bottom: 5*@init;}


.headerMenu{width: 100%; height: 100%; background: #ffffff; position: fixed; left: 0; top: 50*@init; z-index: 66;}
.headerMenu ul{margin: 0 45*@init;}
.headerMenu ul li{line-height: 75*@init; border-bottom: solid 1px #e3e3e3;}
.headerMenu .iconfont{float: right; color: #b4201f;}
.headerMenu ul li a{margin: 10*@init; font-size: 16*@init;}
.headerMenu ul li a.act{color: #b4201f;}

.headerMenuTwoStyle{width: 100%; height: 100%; background: #ffffff; position: fixed; left: 0; top: 0; padding-top: 50*@init; z-index: 66;
 overflow-y: auto; box-sizing: border-box;}
.headerMenuTwoStyle ul{margin: 0 45*@init;}
.headerMenuTwoStyle ul li{line-height: 75*@init; border-bottom: solid 1px #e3e3e3;}
.headerMenuTwoStyle ul li.tou{font-size: 16*@init; color: #b4201f;}

.headerSearch{height: 57*@init; background: #FFFFFF; box-shadow: 0 2px 4px 0 rgba(129, 129, 129, 0.5); position: absolute;
left: 0; top: 50*@init; z-index: 67; width: 100%;
    .box{
        width: 345*@init; height: 41*@init; line-height: 39*@init; box-sizing: border-box; margin: 0 auto; margin-top: 8*@init;
        padding: 0 8*@init; border: solid 1px #dfdfdf; overflow: hidden;
    }
    input{margin: 0; padding: 0; border: 0; height: 39*@init; line-height: 39*@init; float: left; width: 85%}
    a{float: right; color: #9b9b9b; font-size: 16*@init;}
}
