html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, 
tfoot, thead, tr, th, td ,textarea,input { margin:0; padding:0;  }
address,cite,dfn,em,var, i {font-style:normal;}
body {font-size: 18px; line-height: 1.5; font-family:'Microsoft Yahei','simsun','arial','tahoma';  color: #222; background: #ffffff; }
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
a { text-decoration: none; color: #666; background: none }
ul, ol { list-style: none; }
:focus{ outline:none;}
.clearfix{ clear: both; content: ""; display: block; overflow: hidden }
.clear{clear: both;}
.fl{ float: left; }
.fr{float: right;}
.middle{vertical-align: middle;}
.tc_l{text-align: left!important;}
.tc_c{text-align: center!important;}
.tc_r{text-align: right!important;}
.ov{overflow: hidden;}
.no_margin{margin: 0!important;}
.none{display: none;}

@init: 1rem/18;

.font22{font-size: 22*@init;}
.font14{font-size: 14*@init;}
.font18{font-size: 18*@init;}


.header{height: 50*@init;box-shadow: 0 2px 4px 0 rgba(205, 205, 205, 0.5); background: #FFFFFF;
position: relative; z-index: 99;}
.header .logo{width: 38*@init; height: 38*@init; margin: 6*@init 0 0 17*@init;}
.header .iconr{float: right; font-size: 20*@init; margin: 11*@init 15*@init 0 0;}

.index1{position: relative; overflow: hidden;}
.index1 img{width: 100%;}
.indexFont{width: 187*@init; padding: 0 18*@init; background: rgba(255, 255, 255, 0.8); box-sizing: border-box;
position: absolute; right: 0; top: 0;}
.indexFont .tit{color: #252c5c; font-size: 9*@init; margin-top: 19*@init;}
.indexFont .tit2{color: #b4201f; font-size: 9*@init; margin-top: 40*@init;}
.indexFont .cont{font-size: 14*@init; color:#252c5c; line-height: 1.14; margin-top: 17*@init}
.indexFont .cont2{font-size: 14*@init; color:#b4201f; line-height: 1.14; margin-top: 17*@init}
.indexFont .more{ text-align: center; margin: 20*@init 0 15*@init 0;}
.indexFont .more a{ font-size: 14*@init;}

.indexNav li{width: 50%; height: 229*@init; float: left; position: relative;}
.indexNav li .ms{width: 100%; height: 62*@init; line-height: 62*@init; background-color: rgba(255, 255, 255, 0.8);
color: #b4201f; position: absolute; font-size: 10px; left: 0; bottom: 0; box-sizing: border-box; padding: 0 15*@init;}
.indexNav li .iconfont{float: right;}
.indexNav li img{width: 100%; vertical-align: middle;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}
.indexNav li:hover img{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
}
.indexNav li:active img{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
}

.footer .menu{width: 100%; overflow: hidden;}
.footer .menu li{float: left; width: 50*@init; height: 50*@init; text-align: center; line-height: 50*@init; background: #3c3c39;
color: #ffffff; margin: 0 21.8*@init; margin-top: 45*@init;}
.footer .menu li i{font-size: 28*@init;}
.footer .menu li:hover{background: #252c5c;}
.footer .xNav{text-align: center; position: relative; width: 100%; overflow: hidden; font-size: 10*@init;
margin-top: 26*@init;}
.footer .xNav .left{float: left; margin-left: 21.8*@init;}
.footer .center{position: absolute; width: 60%; position: absolute; left: 20%; top: 0;}
.footer .xNav .right{float: right; margin-right: 21.8*@init;}

.footer .dz{text-align: center; font-size: 10*@init; line-height: 1.7; margin-top: 16*@init; margin-bottom: 5*@init;}


.headerMenu{width: 100%; height: 100%; background: #ffffff; position: fixed; left: 0; top: 0; z-index: 66;
box-sizing: border-box; padding-top: 50*@init; overflow-y: auto;}
.headerMenu ul{margin: 0 45*@init;}
.headerMenu ul li{line-height: 75*@init; border-bottom: solid 1px #e3e3e3;}
.headerMenu .iconfont{float: right; color: #b4201f;}
.headerMenu ul li a{margin: 10*@init; font-size: 16*@init;}
.headerMenu ul li a.act{color: #b4201f;}

.headerMenuTwoStyle{width: 100%; height: 100%; background: #ffffff; position: fixed; left: 0; top: 0; padding-top: 50*@init; z-index: 66;
 overflow-y: auto; box-sizing: border-box;}
.headerMenuTwoStyle ul{margin: 0 45*@init;}
.headerMenuTwoStyle ul li{line-height: 75*@init; border-bottom: solid 1px #e3e3e3;}
.headerMenuTwoStyle ul li.tou{font-size: 16*@init; color: #b4201f;}

.headerSearch{height: 57*@init; background: #FFFFFF; box-shadow: 0 2px 4px 0 rgba(129, 129, 129, 0.5); position: absolute;
left: 0; top: 50*@init; z-index: 67; width: 100%;
    .box{
        width: 345*@init; height: 41*@init; line-height: 39*@init; box-sizing: border-box; margin: 0 auto; margin-top: 8*@init;
        padding: 0 8*@init; border: solid 1px #dfdfdf; overflow: hidden;
    }
    input{margin: 0; padding: 0; border: 0; height: 39*@init; line-height: 39*@init; float: left; width: 85%}
    a{float: right; color: #9b9b9b; font-size: 16*@init;}
}

.teamSearch{margin: 0 22*@init;
    .condition{
        h3{font-size: 14*@init; line-height: 34*@init; color: #4a4a4a;}
        
        input{border: solid 1px #cecece; height: 41*@init; line-height: 41*@init; width: 100%; 
padding: 0 10px; box-sizing: border-box; font-size: 14*@init;}
        select{border: solid 1px #cecece; height: 41*@init; line-height: 41*@init; width: 100%; 
padding: 0 10px; box-sizing: border-box; font-size: 14*@init;}
        .searchBtn{width: 100%; height: 41*@init; line-height: 41*@init; background-color: #b4201f; padding: 0; margin: 0; border: none;
color: #FFFFFF; text-align: center; margin-top: 13*@init; cursor: pointer; font-size: 14*@init;}
    }
}

.tsItemTit{font-size: 20*@init; line-height: 60*@init; text-align: center;}
.tsItemBox ul{overflow: hidden;}
.tsItemBox li{width: 156*@init; box-sizing: border-box;height: 96*@init; border: solid 1px #dfdfdf; float: left;
text-align: center; margin-right: 17*@init; margin-bottom: 15*@init; font-size: 13*@init;}
.tsItemBox li i{font-size: 35*@init;}
.tsItemBox li .icon{margin-top: 9*@init; cursor: pointer;}
.tsItemBox li .text{line-height: 14*@init;}
.tsItemBox li:hover{background: #b4201f; color:#FFFFFF;}
.tsItemBox li:hover a{color: #FFFFFF;}

.mbNav{height: 45*@init; line-height: 45*@init; border-bottom: solid 1px #dcdcdc; font-size: 13*@init;}
.mbNav a{ padding: 0 3*@init;}
.mbNav a:first-child{padding-left: 0;}
.mbNav a.act{color: #9b9b9b;}

.teamSearchList .lsList{}
.teamSearchList .lsList li{width: 100%; overflow: hidden; height: 95*@init; margin-top: 20*@init; cursor: pointer;}
.teamSearchList .lsList li img{width: 168*@init; height: 95*@init; float: left;}
.teamSearchList .lsList li .right{float: left; width: 161*@init; height: 95*@init; border-bottom: solid 1px #dcdcdc;
box-sizing: border-box; padding-left: 13*@init; font-size: 12*@init;}
.teamSearchList .lsList .name{font-size: 14*@init; font-weight: bold; margin-bottom: 0;}

.nyMargin{margin: 0 22*@init;}
.img100{width: 100%; height: auto;}
.nyTit{font-size: 34*@init; line-height: 36*@init; font-weight: 500; color: #4a4a4a; margin-top: 28*@init; margin-bottom: 18*@init;}

.customInput{border: solid 1px #cecece; height: 41*@init; line-height: 41*@init; width: 100%; 
padding: 0 10px; box-sizing: border-box; font-size: 14*@init;}
.customSelect{border: solid 1px #cecece; height: 41*@init; line-height: 41*@init; width: 100%; 
padding: 0 10px; box-sizing: border-box; font-size: 14*@init;}

.red{color: #b4201f;}
.teamSearchDetail .name{
    margin: 20*@init 0 15*@init 0;
    .xm{font-size: 30*@init;}
    .zc{font-size: 18*@init;}
}
.teamSearchDetail .jj li{border-bottom: solid 1px #dcdcdc; height: 42*@init; line-height: 42*@init; font-size: 14*@init}
.teamSearchDetail .jj .iconfont{color: #b4201f; font-size: 20*@init; width: 20*@init; display: inline-block; text-align: center;
margin-right: 14*@init;}
.teamSearchDetail .xz{width: 100%; height: 53*@init; color: #FFFFFF; padding-left: 140*@init; background: url(../img/dowloadBtn.jpg) no-repeat;
box-sizing: border-box; line-height: 53*@init; margin-top: 20*@init; background-size: 100% 100%;}
.teamSearchDetail .xz a{color: #FFFFFF; width: 100%; height: 53*@init; display: block;}

.searchResult .xgjg{font-size: 18*@init; color: #9b9b9b;}
.jgList{margin-top: 10*@init;}
.jgList li{font-size: 14*@init; border-bottom: solid 2px #dcdcdc; line-height: 1.71; padding: 7*@init 0;}
.jgList li .tit{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.jgList li .date{color: #9b9b9b;}

.news_lbt .msBxo{color: #FFFFFF; background: #b4201f; padding: 6*@init 19*@init; line-height: 1.9;}
.news_lbt .msBxo h3{font-size: 16*@init;}
.news_lbt .msBxo .date{font-size: 14*@init;}
.news_lbt .msBxo .ms{line-height: 1.44; font-size: 18*@init; padding: 10*@init 0;}
.news_lbt .msBxo .xq span{font-size: 14*@init;}

.recruit .topk{background: #b4201f; color: #FFFFFF; padding: 16*@init 16*@init; margin-top: 10*@init;}
.recruit .topk .bt{  font-size: 34*@init; line-height: 36*@init; margin-bottom: 15*@init;}
.recruit .topk .ms{font-size: 14*@init; line-height: 1.36;}

.recruitList{}
.recruitList li{width: 100%; box-sizing: border-box; border: solid 1px #dfdfdf; background: #f4f4f4;
position: relative; border-bottom: none; margin-bottom: 18*@init;}
.recruitList li .tit{line-height: 65*@init; padding: 0 24*@init; font-size: 16*@init; font-weight: bold; cursor: pointer;
border-bottom: solid 1px #dfdfdf;}
.recruitList li .tit .iconfont{float: right; color: #b4201f;}

.recruitDetail{width: 100%; border-top: none; box-sizing: border-box; border-bottom: solid 1px #dfdfdf;
padding: 0 22*@init; font-size: 14*@init; z-index: 3; background: #FFFFFF; display: none;
}
.recruitDetail .tit2{height: 50*@init; line-height: 50*@init; border-bottom: solid 1px #dfdfdf; font-size: 14*@init;}
.recruitDetail .tit2 .dd{float: right;}
.recruitDetail .cont{line-height: 1.21; margin: 20*@init 0;}

.publication{padding-top: 8*@init;}
.publication li{overflow: hidden; margin-top: 11*@init;}
.publication li .left{width: 18%; height: 98*@init; float: left; background: #d9d9d9; text-align: center;
overflow: hidden;}
.publication li .left .iconfont{font-size: 21*@init; line-height: 43*@init;}
.publication li .right{width: 82%; height: 98*@init; float: left; background: #efefef; padding: 0 16*@init;
box-sizing: border-box;}
.publication li .tit{color: #4a4a4a; font-size: 16*@init; line-height: 35*@init; margin-top: 17*@init;
overflow: hidden;
text-overflow:ellipsis;
white-space: nowrap;}
.publication li .date{color: #9b9b9b; font-size: 14*@init;}
